<article class="col card g-0 post-card border-0 mt-4">

  {{!-- song title, artist and post info --}}
  <div class="outline rounded-4" id="post-body">
    <h2 class="card-title text-center post-title my-3 rounded p-2 px-4">
       <a class="link" href="/post/{{id}}">{{title}}</a>
    </h2>
    <h3 class="card-subtitle artist-name mt-2">
      <span class="artist-span">artist:</span> {{artist}}
    </h3>
    <p>
      posted by <span class="user-post"> {{user.username}}</span> 
    </p>
    <p>
      {{post_content}}
    </p>

    {{!-- comments info --}}
    <p class="ms-3 d-flex justify-content-end my-0">
      {{comments.length}} {{format_plural "comment" comments.length}}
    </p>

  </div>
</article>
  