<article class="col card post-card border-0 my-4">

  {{!-- song title, artist and post info --}}
  <div class="card-body outline rounded-4" id="post-body">
    <h2 class="card-title text-center post-title m-auto my-3 rounded p-2 px-4">
<<<<<<< HEAD
      {{title}}
    </h2>
    <h3 class="card-subtitle artist-name mt-2">
      <span class="artist-span">artist:</span> {{artist}}
    </h3>
    <p>
      posted by <span class="user-post"> {{user.username}}</span> 
=======
      <!--This div is the "post-info" partial-->
      {{!-- post title here --}}{{title}}
    </h2>
    <h3 class="card-subtitle artist-name ps-4 my-2">
      <!--Artist name here--> {{artist}}
    </h3>
    <p class="card-text ps-4">
      <!--Post content here. Look at this post! Yay! New post!! Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus nemo iusto inventore facilis aperiam corrupti sunt sequi dolorem cumque, officia, cupiditate sint alias in. Neque ipsa architecto doloribus dolor.-->
      {{post_content}}
>>>>>>> 4c80bc1 (title artist and post content now show up on dashboard)
    </p>
    <p>
      {{post_content}}
    </p>

    {{!-- comments and votes info --}}
    <div class="interactions d-flex justify-content-between">
      <p class="thumbs-count rounded px-3"> 
        thumbs count here{{thumbs.thumbs_count}}
      </p>
      <p class="ms-3 comment-span">
        {{comments.length}} {{format_plural "comment" comments.length}}
      </p>
    </div>

  </div>
</article>
  